src/main/mule/proc-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="proc-customerFlow" doc:id="66a98b6c-a937-427c-a98e-de96a54c5db8" >
		<http:listener doc:name="Listener" doc:id="b805faaa-21be-4c2e-8df1-6fc7983b1d68" config-ref="HTTP_Listener_config" path="/process/customer/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="customerId" doc:id="7abcd4f8-1b4c-4423-8818-f2a08a0a0aa3" variableName="customerId"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="f88bb4b9-da99-40fa-ae96-2cc8561e62e9" >
			<route >
				<http:request doc:name="Get CRM Profile" doc:id="927550bd-cf22-4aae-82e2-e2cd2b378a17" config-ref="HTTP_Request_Internal" path="/crm/customer/{customerId}">
					<http:uri-params ><![CDATA[#[{
    "customerId": attributes.uriParams.id
}]]]></http:uri-params>
				</http:request>
			</route>
			<route >
				<ee:transform doc:name="Simulate Finance DB" doc:id="47edeefe-6456-47bb-823d-d1e4a758a521">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "totalSpend": 5000.00,
    "lastTransaction": "2023-11-20",
    "status": "Good Standing"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Aggregate Results" doc:id="2b618705-b822-4921-b420-7e8ed7869101" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    customerId: vars.customerId,
    // Payload "0" is the result from Route 1 (CRM)
    profile: payload."0".payload,
    
    // Payload "1" is the result from Route 2 (Finance)
    finance_overview: payload."1".payload,
    
    generated_at: now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
