src/main/mule/proc-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="proc-customerFlow" doc:id="b68a87fb-3d0a-46bd-8bdb-652dd099c592" >
		<http:listener doc:name="Listener" doc:id="810d2984-0f26-471d-91bc-934021fc9c88" config-ref="HTTP_Listener_config" path="/process/customer/{id}"/>
		
        <set-variable value="#[attributes.uriParams.id]" doc:name="customerId" doc:id="d209df0d-d89a-4f9c-b506-c751c7fc221a" variableName="customerId"/>
		
        <scatter-gather doc:name="Scatter-Gather" doc:id="b901094a-2b12-47a2-bac3-d5efb89459df" >
			<route >
                <http:request doc:name="Get CRM Profile" doc:id="745c8522-9154-4e1c-b117-bf33e1a0beb7" config-ref="HTTP_Request_Localhost" path="/crm/customer/{customerId}">
					<http:uri-params><![CDATA[#[{
                        "customerId": attributes.uriParams.id
                    }]]]></http:uri-params>
				</http:request>
			</route>
			<route >
                <ee:transform doc:name="Simulate Finance DB" doc:id="1f44ac64-7986-4556-84f5-575c95a5d7e0">
			        <ee:message>
				        <ee:set-payload resource="dataweave/modules/customer/mock-finance.dwl" />
			        </ee:message>
		        </ee:transform>
			</route>
		</scatter-gather>
		
        <ee:transform doc:name="Aggregate Results" doc:id="c694f890-8a3a-4b49-a3f3-531d1aa8c769" >
			<ee:message >
				<ee:set-payload resource="dataweave/modules/customer/aggregation.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>