src/main/mule/proc-orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    
    <flow name="proc-ordersFlow" doc:id="d54c3f16-a936-4413-b1b2-97bdcaa8fc7f" >
		<http:listener doc:name="Listener" doc:id="9843ffd5-a8bc-460d-8e4d-4ae72afff4bb" config-ref="HTTP_Listener_config" path="/process/orders">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		
		<set-variable value='#[payload]' doc:name="originalOrder" doc:id="cd15a796-69ac-4874-8e96-52a1e47bf514" variableName="originalOrder"/>
		
		<http:request doc:name="Check Inventory" doc:id="71242cd9-6145-419f-ad83-7d546ab1af07" config-ref="HTTP_Request_Localhost" path="/inventory" method="POST">
			<http:body ><![CDATA[#[{
    "productId": vars.originalOrder.productId
}]]]></http:body>
		</http:request>
		
		<choice doc:name="Choice" doc:id="e8afcfe9-6c6d-4460-ba13-001414bbef63" >
			<when expression='payload.status == "IN_STOCK"'>
                <http:request doc:name="Create Order" doc:id="dc82b049-8b47-403e-894d-e2a38eb892df" config-ref="HTTP_Request_Localhost" method="POST" path="/fulfillment">
					<http:body ><![CDATA[#[vars.originalOrder]]]></http:body>
				</http:request>
			</when>
			<otherwise >
				<set-payload value='#[output application/json&#10;---&#10;{&#10;    "status": "Rejected",&#10;    "reason": "Item is out of stock",&#10;    "productId": vars.originalOrder.productId&#10;}]' doc:name="Set Payload" doc:id="ee41ea65-023c-4e7b-92bb-d0858225f737" />
				<set-variable value="409" doc:name="httpStatus" doc:id="52ee5eb9-8f81-4506-9913-933fa027e88f" variableName="httpStatus"/>
			</otherwise>
		</choice>
	</flow>
</mule>