src/main/mule/proc-orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="proc-ordersFlow" doc:id="e5868610-ea2e-47c5-80d0-7f8bdb21f1bc" >
		<http:listener doc:name="Listener" doc:id="948c7d1e-dc16-45f1-9613-a5fcbf1a3ef9" config-ref="HTTP_Listener_config" path="/process/orders">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		
		<set-variable value='#[payload]' doc:name="originalOrder" doc:id="84a8c9ff-7bc2-4e0c-8d5e-c6201cab3d52" variableName="originalOrder"/>
		
		<http:request doc:name="Check Inventory" doc:id="aac3f4d5-bc12-458a-bb4e-07fc84f1ce97" config-ref="HTTP_Request_Localhost" path="/inventory" method="POST">
			<http:body ><![CDATA[#[{
    "productId": vars.originalOrder.productId
}]]]></http:body>
		</http:request>
		
		<choice doc:name="Choice" doc:id="7f58d9c3-42c5-4c69-b20c-422fb6d307bb" >
			<when expression='payload.status == "IN_STOCK"'>
                <http:request doc:name="Create Order" doc:id="ee6409c9-5881-4f21-8cb7-9f60e8feb9eb" config-ref="HTTP_Request_Localhost" method="POST" path="/fulfillment">
					<http:body ><![CDATA[#[vars.originalOrder]]]></http:body>
				</http:request>
			</when>
			<otherwise >
				<ee:transform doc:name="Set Rejection Payload">
					<ee:message>
						<ee:set-payload resource="dataweave/modules/orders/rejection.dwl" />
					</ee:message>
				</ee:transform>
				
				<set-variable value="409" doc:name="httpStatus" doc:id="0d06a1d1-b069-4783-a9aa-5be2730b547d" variableName="httpStatus"/>
			</otherwise>
		</choice>
	</flow>
</mule>