src/main/mule/sys-finance.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
    <file:config name="File_Config" doc:name="File Config" doc:id="8caeb9a9-647a-419c-b339-bd0c91fec9a7" >
		<file:connection workingDir="D:\Users\mirza\AnypointStudio\temp-files\finance_inbox" />
	</file:config>
	
	<flow name="sys-financeFlow" doc:id="2043e105-3e85-416e-8da4-748ab797a6e4" >
		<file:listener doc:name="Poll Finance CSV" doc:id="7897fd06-feb4-48fc-993f-8c8a4c65c844" config-ref="File_Config" directory=".">
			<scheduling-strategy >
                <fixed-frequency frequency="${finance.frequency}" timeUnit="SECONDS" />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" directories="EXCLUDE" />
		</file:listener>
		
        <ee:transform doc:name="CSV to JSON" doc:id="bcc4f3a1-40f4-4bb3-9611-85fe7eddb9a0" >
			<ee:message >
				<ee:set-payload resource="dataweave/modules/finance/csv-to-json.dwl" />
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Logger" doc:id="c17686a4-0f1a-42f3-bfce-48c7a8fe2b34" message="New Finance Data Ingested: #[payload]"/>
	</flow>
</mule>