src/main/mule/sys-inventory.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	<flow name="sys-inventoryFlow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/inventory"/>
		
        <set-variable value="#[payload.productId]" doc:name="requestedId" doc:id="fd5327e1-720e-404d-8fd5-c79d4b6f7039" variableName="requestedId"/>
		<ee:transform doc:name="JSON to SOAP">
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns inv http://warehouse.legacy.com
---
{
    soapenv#Envelope: {
        soapenv#Body: {
            inv#StockRequest: {
                inv#ProductId: payload.productId,
                inv#RequestDate: now() as String {format: "yyyy-MM-dd"}
            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

        <ee:transform doc:name="Simulate Legacy Backend" doc:id="f9c51f9a-ffc9-45c0-8ec8-d2bc8f5ac318" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns inv http://warehouse.legacy.com
---
{
    soapenv#Envelope: {
        soapenv#Body: {
            inv#StockResponse: {
                inv#ProductID: vars.requestedId,
                // DYNAMIC LOGIC: If ID is P-999, quantity is 0
                inv#Quantity: if (vars.requestedId == "P-999") 0 else 500,
                // DYNAMIC STATUS: If ID is P-999, status is OUT_OF_STOCK
                inv#Status: if (vars.requestedId == "P-999") "OUT_OF_STOCK" else "IN_STOCK"
            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="SOAP to JSON">
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://warehouse.legacy.com
---
{
    productId: payload.Envelope.Body.ns0#StockResponse.ns0#ProductID,
    quantity: payload.Envelope.Body.ns0#StockResponse.ns0#Quantity as Number,
    status: payload.Envelope.Body.ns0#StockResponse.ns0#Status,
    // Updating source text to reflect the change
    source: "Legacy SOAP System (Dynamic Mock)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>