src/main/mule/sys-crm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="sys-crmFlow" doc:id="048d7dea-ec26-4f4a-8ea4-55c07551481c" >
		<http:listener doc:name="Listener" doc:id="33a70ac2-b1f4-487c-aa78-8063c4423626" config-ref="HTTP_Listener_config" path="/crm/customer/{id}"/>
		
        <http:request doc:name="Call Ext CRM" doc:id="3bc21cf4-7f09-4a15-900f-9403c1b4abc9" config-ref="HTTP_Request_CRM" path="/api/users/{userId}">
			<http:headers ><![CDATA[#[{
    "x-api-key": "reqres-free-v1",
    "User-Agent": "Mozilla/5.0",
    "Accept": "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{'userId': attributes.uriParams.id}]]]></http:uri-params>
		</http:request>
		
		<ee:transform doc:name="Standardize CRM JSON" doc:id="2b324142-09e0-4296-8267-6c7e216251a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    customerId: payload.data.id,
    // We explicitly cast "as String" to stop Studio from guessing it's a Date
    fullName: (payload.data.first_name as String) ++ " " ++ (payload.data.last_name as String),
    email: payload.data.email,
    tier: "Gold", 
    source: "External CRM (REST)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>