src/main/mule/sys-crm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="sys-crmFlow" doc:id="098681ac-7718-4564-9d60-4ab17325b297" >
		<http:listener doc:name="Listener" doc:id="ff64c8af-5bb1-437f-b9af-4d3b5b1ceb34" config-ref="HTTP_Listener_config" path="/crm/customer/{id}"/>
		
        <http:request doc:name="Call Ext CRM" doc:id="f8acc302-bd2d-4947-89ad-c0b96cddaf44" config-ref="HTTP_Request_CRM" path="/api/users/{userId}">
			<http:headers ><![CDATA[#[{
    "x-api-key": "reqres-free-v1",
    "User-Agent": "Mozilla/5.0",
    "Accept": "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{'userId': attributes.uriParams.id}]]]></http:uri-params>
		</http:request>
		
        <ee:transform doc:name="Standardize CRM JSON" doc:id="0e61e270-976c-438f-bdde-165999aa288b" >
			<ee:message >
				<ee:set-payload resource="dataweave/modules/crm/canonical-map.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>