src/main/mule/sys-inventory.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	<flow name="sys-inventoryFlow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/inventory"/>
		
        <set-variable value="#[payload.productId]" doc:name="requestedId" variableName="requestedId"/>
		
        <ee:transform doc:name="JSON to SOAP">
			<ee:message >
				<ee:set-payload resource="dataweave/modules/inventory/json-to-soap.dwl" />
			</ee:message>
		</ee:transform>

        <ee:transform doc:name="MOCK BACKEND (Simulated SOAP Server)">
			<ee:message >
				<ee:set-payload resource="dataweave/modules/inventory/mock-backend.dwl" />
			</ee:message>
		</ee:transform>
		
        <ee:transform doc:name="SOAP to JSON">
			<ee:message >
				<ee:set-payload resource="dataweave/modules/inventory/soap-to-json.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>